html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#header {
    padding-top: 15px;
    margin: auto;
    font-size: 5rem;
}

#navbar {
    margin: auto;
    width: max-content;
    display: flex;
    flex-direction: column;
}

#navbar-buttons {
    padding: 10px;
    display: flex;
    justify-content: end;
    gap: 30px;
    font-size: x-large;
}

#about {
    margin: auto;
    margin-top: 120px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#main-photo {
    width: 40%;
    object-fit: scale-down;
}

#blurb {
    width: 50%;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

#projects {
    margin: auto;
    margin-top: 120px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#projects-title {
    margin: auto;
    font-size: 3rem;
}

.project-content {
    display: flex;
    justify-content: space-around;
}

.project-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title {
    font-size: 2rem;
}

.project-subtitle {
    margin-top: 10px;
    font-size: 1.2rem;
    color: gray;
}

.project-desc {
    margin-top: 20px;
    font-size: 1.5rem;
}

.project-img {
    width: 60%;
    padding: 10px;
    object-fit: contain;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

#footer {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
    white-space: pre-line;
}