@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Young+Serif&display=swap');

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 100;
    background-color: black;
    color: white;
}

h1, h2, h3, h4 {
    font-family: 'Young Serif', serif;
    font-weight: normal;
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
}

#navbar {
    margin: 1rem auto 0 auto;
    width: max-content;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

#title {
    font-size:  4rem;
}

#navbar-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
}

#about {
    margin: auto;
    margin-top: 120px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

#main-photo {
    width: 30%;
    object-fit: scale-down;
}

#blurb {
    width: 60%;
    font-size: 1.24rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#project-grid {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    row-gap: 6rem;
}

#projects-title {
    width: 20%;
    margin: 2em auto 1em auto;
    text-align: center;
    font-size: 3rem;
    border-bottom: solid 2px white;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title {
    margin: 0;
    font-size: 2rem;
}

.project-subtitle {
    padding-bottom: .5rem;
    font-size: 1.2rem;
    color: gray;
}

.project-thumbnail {
    width: 100%;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    height: fit-content;
    border-bottom: solid 2px white;
}

.project-thumbnail * {
    border-radius: 1rem;
}

.project-blocks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.project-block {
    width: fit-content;
    padding: .5em;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: .5rem;
    border-style: outset;
    border-color: white;
}

.project-desc {
    margin-top: 20px;
    font-size: 1.25rem;
}

footer {
    margin-top: 10rem;
    margin-bottom: 1rem;
    white-space: pre-line;
    text-align: center;
    font-family: 'Young Serif', serif;
    font-variant: small-caps;
}

@media (max-width: 1000px){
    #about {
        flex-direction: column;
    }

    #main-photo {
        width: 100%;
    }

    #blurb {
        width: 100%;
    }

    #projects-title {
        width: fit-content;
    }

    #project-grid {
        grid-template-columns: 100%;
    }

    .project-content {
        flex-direction: column;
    }

    .project-info {
        width: 100%;
    }
}